<%- include('./shared/header'); -%>

    <div class="container">
        <h1>Signin</h1>
    

        <p>Alredy have an Account?</p>
        <a class="waves-effect waves-light btn-small blue lighten-1" href="/auth/signup">Signup</a>
    </div>
   
<%- include('./shared/footer'); -%>